.banner__container{
    position: relative;
  }
  .form__map{
    position: absolute;
    left: 30%;
    top: 70%;
    
  }
  .form_chu{
    position: absolute;
    left: 33%;
    top: 10%;
    
  }
  .form__input{
    background-color: white;
    width: 570px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    border-radius: 30px;
  }
  .form__input input{
    width: 514px;
    border: none;
    padding: 6px;
  }
  .map__item{
    width: 570px;
    height: 80px;
    background-color: white;
    margin: 20px 0px;
    border-radius: 10px;
    border: solid 1px;
  }
  .map__items-address{
    display: flex;
    align-items: center;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color: rgb(4, 4, 4);
    padding: 3px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .conten{
    padding: 0px 0px 0px 108px;
    font-size: 12px;
    padding-left: 180px;
  }
  .conten2{
    margin: 5px 10px;
  }
  .conten3{
    padding: 0px 5px;
  }
  .container{
    margin: 0 auto;
    font-size: 16px;
    padding-left: 100px;
  }
  .dropdown .dropbtn1 {
    font-size: 18px;  
    border: none;
    outline: none;
    color: rgb(4, 4, 4);
    padding: 3px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .footer{
    margin-top: 150px;
    margin-right: 150px;
    padding-left: 150px;
  }
  .chu{
    font-size: 13px;
  }
  .chu1{
    font-size: 16px;
  }
  .chu3{
    color: rgb(149, 145, 145);
    margin: 6px;
  }
  .chu3:hover{
    color: red;
  }
 
  